@charset "UTF-8";

.swiper.main {
	max-width: 1600px;
	height: 690px;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
}

.index article {
/*	overflow: hidden;*/
}

.index .tit.right {
	text-align: right;
}

.index .title.is-1 {
	font-size: 64px;
	margin: 80px 0 20px;
}

.index .title.is-3 {
	margin: 20px 0 50px;
}


/* 베스트 굿즈 */

.best .contain {
	display: inline-block;
}

.best .contain li {
	width: 350px;
	height: 480px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
	margin-right: 75px;
}

.best .contain li:first-child {
	margin-top: 150px;
}

.best .contain li:last-child {
	margin-right: 0;
	margin-top: -150px;
}

.best .contain li a {
	display: block;
	width: 100%;
	height: 100%;
}


/* 시즌 굿즈 */

.season .inner {
	text-align: center;
}

.season .more {
	position: absolute;
	left: 0;
	top: 150px;
	color: initial;
	font-size: 20px;
}

.season .more i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: var(--bulma-text);
}

.season .contain {
	display: inline-block;
	margin: 0 -37.5px;
}

.season .goods {
	width: 350px;
	height: 470px;
	margin: 30px 37.5px;
	float: left;
	text-align: left;
}

.season .goods a {
	width: 100%;
	height: 100%;
	display: block;
	color: #000;
}

.season .goods .img {
	width: 350px;
	height: 350px;
	background: #d9d9d9;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.season .goods .txt {
	color: initial;
}

.season .goods .txt .brand {
	font-size: 20px;
	margin: 5px 0;
	display: block;
}

.season .goods .txt .name {
	font-size: 24px;
	font-weight: 700;
	margin: 10px 0;
}


/* 기프티콘 */

.gifticon {
	margin-top: 60px;
}

.gifticon a {
	width: 1200px;
	height: 216px;
	border-radius: 20px;
	overflow: hidden;
	display: block;
}

/* thanks  */

.thanks {
	max-width: 1200px;
	margin: 0 auto;
}

.thanks .tit {
	margin-bottom: 50px;
}

.thanks .swiper-slide {
	width: 130px;
	height: 130px;
	border-radius: 20px;
	overflow: hidden;
}
.thanks .swiper-slide a {
	width: 100%;
	height: 100%;
	display: block;
}


/* index jquery 효과 모음 */

.index .best .tit {
	transition: all 1s;
	position: relative;
	top: 50px;
	opacity: 0;
}

.index .best.viewing .tit {
	top: 0;
	opacity: 1;
}

.index .best .contain li {
	opacity: 0;
	transition: all 1s .5s;
	position: relative;
	top: 50px;
}

.index .best .contain li:last-child {
	transition: all 1s .5s;
}

.index .best .contain li:nth-child(2) {
	transition: all 1s 1s;
}

.index .best .contain li:first-child {
	transition: all 1s 1.5s;
}

.index .best.viewing .contain li {
	top: 0;
	opacity: 1;
}


.index .season .tit {
	transition: all 1s;
	position: relative;
	top: 50px;
	opacity: 0;
}

.index .season.viewing .tit {
	top: 0;
	opacity: 1;
}

.index .season .more {
	opacity: 0;
	transition: all 1s .5s;
	top: 200px;
}

.index .season.viewing .more {
	top: 150px;
	opacity: 1;
}

.index .season .contain .goods {
	opacity: 0;
	transition: all 1s .5s;
	position: relative;
	top: 50px;
}

.index .season .contain .goods:first-child {
	transition: all 1s .5s;
}

.index .season .contain .goods:nth-child(2) {
	transition: all 1s 1s;
}

.index .season .contain .goods:last-child {
	transition: all 1s 1.5s;
}

.index .season.viewing .contain .goods {
	top: 0;
	opacity: 1;
}


.index .gifticon {
	transition: all 1s;
	position: relative;
	top: 50px;
	opacity: 0;
}

.index .gifticon.viewing {
	top: 0;
	opacity: 1;
}


.index .thanks .tit {
	transition: all 1s;
	position: relative;
	top: 50px;
	opacity: 0;
}

.index .thanks.viewing .tit {
	top: 0;
	opacity: 1;
}

.index .thanks .swiper {
	transition: all 1s .5s;
	position: relative;
	top: 50px;
	opacity: 0;
}

.index .thanks.viewing .swiper {
	top: 0;
	opacity: 1;
}



/* footer (index 페이지 한정) */

footer {
	margin-top: 70px;
}