@charset "UTF-8";

/** 공통 **/
/* 메뉴 */
#mypage .menu {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

#mypage .menu ul {
	display: inline-block;
}

#mypage .menu li {
	float: left;
	margin: 0 15px;
}

#mypage .menu li a {
	width: 170px;
	border-radius: 50px;
}


/* 테이블 */

#mypage .table {
	margin: 0 auto;
}

#mypage .table a {
	color: var(--bulma-black);
}

#mypage .table a:hover {
	text-decoration: underline;
}

#mypage .table .field {
	justify-content: center;
}

#mypage .table .field .button {
	width: 200px;
	font-size: 1.2rem;
}

#mypage.info .table {
	border-top: 2px solid var(--bulma-black);
	max-width: 700px;
}

#mypage.info .table th, #mypage.info .table td {
	padding: 1.5rem 1rem;
}

#mypage.info .table th {
	vertical-align: middle;
	font-size: 1.2rem;
}
