@charset "UTF-8";

/* about */

#about article {
	padding: 50px 0;
}

#about article p {
	font-size: 1.1rem;
}

/* brand */

#brand .box_list {
	width: 1266px;
	margin: 0 -33px;
	font-size: 0; /* box_li 사이 여백 없애기 */
}

#brand .box_li {
	width: 250px;
	height: 250px;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
	margin: 30px 33px;
	position: relative;
}

#brand .box_li a {
	width: 100%;
	height: 100%;
	display: block;
}

#brand .box_li img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

#brand .box_li .hover {
	opacity: 0;
	transition: all .3s;
	color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#brand .box_li .hover .name {
	color: inherit;
	font-size: 24px;
	font-weight: 700;
	position: relative;
	z-index: 1;
}

#brand .box_li .hover p {
	color: inherit;
	font-size: 20px;
	position: relative;
	z-index: 1;
}

#brand .box_li .hover .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 0;
}

#brand .box_li .hover:hover {
	opacity: 1;
}